html {
    scroll-behavior: smooth !important;
}

.height-633 {
    height: 633px;
}

.background-color-menu-lateral {
    background-color: #48cae4;
}

.espacamenteo-imagem {
    margin-top: 125px;
    margin-left: 10px;
}

.temanho-da-imagem-principal {
    border-radius: 100%;
    width: 175px;
    border: 3px solid #00509d;
}

.alinhamento-do-link-principal {
    line-height: 40px;
    margin-top: 25px;
}

.color-link-lateral {
    text-decoration: none !important;
    line-height: 1.6;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Roboto",sans-serif;
    color: #00509d;
    transition: all 0.7s;
}

.color-link-lateral:hover {
    color: white;
}

.espacamento-texto-top {
    margin-left: 50px;
    margin-top: 80px;
}

.class-texto-top {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 76px;
    color: black !important;
    align-items: center;
    line-height: 1;
    vertical-align: middle;
    margin-bottom: 1rem;
    font-weight: bold;
}

.color-blue-sobrenome {
    color: #0466c8;
}

.class-texto-endereco {
    font-size: 22px !important;
    font-family: 'Crimson Text', serif;
    color: gray !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.div-descricao-topo {
    width: 94%;
    margin-top: 30px;
}

.descricao-sobre-mim {
    font-size: 18px;
    color: black;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
}

.segunda-descricao-sobre-mim {
    font-size: 18px;
    color: black;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
}

.icone-redes-sociais {
    background-color: #000000;
    color: white;
    font-size: 35px;
    border-radius: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    transition: all 0.7s;
}

.icone-redes-sociais:hover {
    color: white;
    background-color: #0466c8;
}

.divisor-sobre-mim {
    background-color: #4ccae4;
    height: 2px;
    margin-left: -15px;
    margin-top: 88px;
    width: 1123px;
}

.div-espacamento-escolaridade {
    margin-left: 50px;
}

.h1-escolaridade {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Big Shoulders Display', cursive;
    margin-bottom: 50px;
    color: black !important;
    padding-top: 50px;
    margin-left: 50px;
}

.curso-mscode {
    text-transform: uppercase;
    color: #2a81ea;
    font-size: 1.125rem;
    letter-spacing: .1em;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}

.tag-p-escolaridade {
    width: 83%;
}

.height-100 {
    height: 100%;
}

.overflow-y {
    overflow-y: scroll;
    height: 633px;
}

.margin-top-20 {
    margin-top: 25px;
}

.divisor-escolaridade {
    background-color: #4ccae4;
    height: 2px;
    margin-left: -30px;
    margin-top: 149px;
    width: 1123px;
}

.margin-left-50 {
    margin-left: 50px;
}

.titulo-hobbies {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Big Shoulders Display', cursive;
    margin-bottom: 50px;
    color: black !important;
    padding-top: 50px;
}

#mySidenav a {
    position: absolute;
    left: -255px;
    transition: 0.3s;
    padding: 15px;
    width: 271px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    margin-top: 1400px;
}
  
#mySidenav a:hover {
    left: 0;
}
  
#about {
    top: 20px;
    background-color: #04AA6D;
}
  
#blog {
    top: 80px;
    background-color: #2196F3;
}
  
#projects {
    top: 140px;
    background-color: #f44336;
}
  
#contact {
    top: 200px;
    background-color: #555;
}

#pray {
    top: 260px;
    background-color: #800000;
}

#Physical {
    top: 320px;
    background-color: #cccc00;
}

#schedule {
    top: 380px;
    background-color: #000000;
}

#Bible {
    top: 440px;
    background-color: #333fff;
}

#mom {
    top: 500px;
    background-color: #008000;
}

#family {
    top: 560px;
    background-color: #D2691E;
}

#church {
    top: 620px;
    background-color: #262626;
}

.titulo-habilidades {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Big Shoulders Display', cursive;
    margin-bottom: 50px;
    color: black !important;
    padding-top: 50px;
}

.divisor-hobbies {
    background-color: #4ccae4;
    height: 2px;
    margin-left: -30px;
    margin-top: 210px;
    width: 1123px;
}

.subtitulo-habilidades {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.icone-linguagem-programacao {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 50px;
    flex-direction: row;
    color: gray;
    margin-right: 15px;
}

.margin-top-70 {
    margin-top: 80px;
}

.numero-habilidades {
    color: #000000;
    font-weight: bold;
    letter-spacing: 0.04em;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
    margin-left: 15px;
}

.numero-dois-habilidades {
    color: #000000;
    font-weight: bold;
    letter-spacing: 0.04em;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
    margin-left: 60px;
}

.numero-um-habilidades {
    color: #000000;
    font-weight: bold;
    letter-spacing: 0.04em;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
    margin-left: 36px;
}

.divisor-habilidades {
    background-color: #4ccae4;
    height: 2px;
    margin-left: -15px;
    margin-top: 88px;
    width: 1123px;
}

.primeira-descricao {
    width: 91%;
    margin-top: 50px;
    margin-bottom: 11px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

.segunda-descricao {
    width: 91%;
    margin-bottom: 100px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

.divisor-interesses {
    background-color: #4ccae4;
    height: 2px;
    margin-left: -15px;
    width: 1123px;
}

@media (max-width: 320px) {
    .temanho-da-imagem-principal {
        display: none;
    }

    .alinhamento-do-link-principal {
        display: none;
    }
    
    .container {
        display: inline-block;
        cursor: pointer;
      }
      
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }

    .menu-mobile {
        position: absolute;
        left: 265px;
        top: 0px;
        height: 100px;
        background-color: #4ccae4;
        padding-top: 35px;
    }

    #conteudo_responsivo_dnone {
        display: none;
    }

    .conteudo-responsivo {
        padding-left: 25px;
        margin-top: -511px;
        background-color: #ffe6a7;
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        height: 260px;
        padding-top: 23px;
    }

    .div-espacamento-responsivo {
        line-height: 45px;
        margin-top: -5px;
    }

    .espacamento-texto-top {
        margin-left: 15px;
        margin-top: 180px;
    }

    .class-texto-endereco {
        font-size: 0.87em !important;
        font-family: 'Crimson Text', serif;
        color: gray !important;
    }

    .div-descricao-topo {
        width: 100%;
        margin-top: 30px;
    }

    .segunda-descricao-sobre-mim {
        display: none;
    }

    .class-texto-top {
        font-family: 'Big Shoulders Display', cursive;
        font-size: 41px;
        color: black !important;
        align-items: center;
        line-height: 1;
        vertical-align: middle;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .divisor-sobre-mim {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        margin-top: 40px;
        width: 320px;
    }

    .margin-top-1 {
        margin-top: 1.5rem!important;
    }    

    .icone-redes-sociais {
        background-color: #000000;
        color: white;
        font-size: 30px;
        border-radius: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: 10px;
        transition: all 0.7s;
    }

    .height-633 {
        height: 100px;
    }

    .h1-escolaridade {
        font-weight: bold;
        font-size: 36px;
        font-family: 'Big Shoulders Display', cursive;
        margin-bottom: 50px;
        color: black !important;
        padding-top: 70px;
        margin-left: 15px;
    }

    .div-espacamento-escolaridade {
        margin-left: 15px;
    }

    .curso-mscode {
        text-transform: uppercase;
        color: #2a81ea;
        font-size: 1.225rem;
        letter-spacing: .1em;
        font-family: "Roboto",sans-serif;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .tag-p-escolaridade {
        width: 96%;
        font-size: 17px;
    }

    .divisor-escolaridade {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -30px;
        margin-top: 50px;
        width: 320px;
    }
    
    .margin-left-50 {
        margin-left: 15px;
    }

    .titulo-hobbies {
        font-weight: bold;
        font-size: 40px;
        font-family: 'Big Shoulders Display', cursive;
        margin-bottom: 50px;
        color: black !important;
        padding-top: 100px;
    }

    #mySidenav a {
        position: absolute;
        left: -255px;
        transition: 0.3s;
        padding: 15px;
        width: 271px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        border-radius: 0 5px 5px 0;
        margin-top: 1900px;
    }

    .divisor-hobbies {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -30px;
        margin-top: 750px;
        width: 335px;
    }

    .divisor-habilidades {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        margin-top: 215px;
        width: 320px;
    }

    .primeira-descricao {
        width: 91%;
        margin-top: 50px;
        margin-bottom: 26px;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
    }

    .divisor-interesses {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        width: 320px;
        margin-top: 65px;
    }

    .height-100 {
        height: 100%;
    }
}    

@media (min-width: 321px) and (max-width: 375px) {
    .temanho-da-imagem-principal {
        display: none;
    }

    .alinhamento-do-link-principal {
        display: none;
    }
    
    .container {
        display: inline-block;
        cursor: pointer;
      }
      
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }

    .menu-mobile {
        position: absolute;
        left: 315px;
        top: 0px;
        background-color: #4ccae4;
        height: 101px;
        padding-top: 33px;
    }

    #conteudo_responsivo_dnone {
        display: none;
    }

    .conteudo-responsivo {
        padding-left: 25px;
        margin-top: -511px;
        background-color: #ffe6a7;
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        height: 260px;
        padding-top: 23px;
    }

    .div-espacamento-responsivo {
        line-height: 45px;
        margin-top: -5px;
    }

    .espacamento-texto-top {
        margin-left: 15px;
    }

    .class-texto-endereco {
        font-size: 0.87em !important;
        font-family: 'Crimson Text', serif;
        color: gray !important;
    }

    .div-descricao-topo {
        width: 95%;
        margin-top: 30px;
    }

    .segunda-descricao-sobre-mim {
        display: none;
    }

    .class-texto-top {
        font-family: 'Big Shoulders Display', cursive;
        font-size: 50px;
        color: black !important;
        align-items: center;
        line-height: 1;
        vertical-align: middle;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .divisor-sobre-mim {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        margin-top: 50px;
        width: 375px;
    }

    .margin-top-1 {
        margin-top: 1.5rem!important;
    }    

    .icone-redes-sociais {
        background-color: #000000;
        color: white;
        font-size: 30px;
        border-radius: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: 10px;
        transition: all 0.7s;
    }

    .height-633 {
        height: 101px;
    }

    .h1-escolaridade {
        font-weight: bold;
        font-size: 40px;
        font-family: 'Big Shoulders Display', cursive;
        margin-bottom: 50px;
        color: black !important;
        padding-top: 65px;
        margin-left: 15px;
    }

    .div-espacamento-escolaridade {
        margin-left: 15px;
    }

    .divisor-escolaridade {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -30px;
        margin-top: 50px;
        width: 375px;
    }

    .titulo-hobbies {
        font-weight: bold;
        font-size: 40px;
        font-family: 'Big Shoulders Display', cursive;
        margin-bottom: 50px;
        color: black !important;
        padding-top: 100px;
    }

    .margin-left-50 {
        margin-left: 15px;
    }

    #mySidenav a {
        position: absolute;
        left: -255px;
        transition: 0.3s;
        padding: 15px;
        width: 271px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        border-radius: 0 5px 5px 0;
        margin-top: 1700px;
    }

    .divisor-hobbies {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -30px;
        margin-top: 730px;
        width: 390px;
    }

    .divisor-habilidades {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        margin-top: 210px;
        width: 375px;
    }

    .primeira-descricao {
        width: 91%;
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
    }

    .divisor-interesses {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        width: 375px;
        margin-top: 55px;
    }

    .height-100 {
        height: 100%;
    }

    .espacamento-texto-top {
        margin-left: 15px;
        margin-top: 180px;
    }

}

@media (min-width:  376px) and (max-width: 576px) {
    .temanho-da-imagem-principal {
        display: none;
    }

    .alinhamento-do-link-principal {
        display: none;
    }
    
    .container {
        display: inline-block;
        cursor: pointer;
      }
      
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }

    .menu-mobile {
        position: absolute;
        left: 360px;
        top: 0px;
        background-color: #4ccae4;
        height: 32%;
        padding-top: 25px;
    }

    #conteudo_responsivo_dnone {
        display: none;
    }

    .conteudo-responsivo {
        padding-left: 25px;
        margin-top: -511px;
        background-color: #ffe6a7;
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        height: 260px;
        padding-top: 23px;
    }

    .div-espacamento-responsivo {
        line-height: 45px;
        margin-top: -5px;
    }

    .espacamento-texto-top {
        margin-left: 15px;
        margin-top: 180px;
    }

    .class-texto-endereco {
        font-size: 15px !important;
        font-family: 'Crimson Text', serif;
        color: gray !important;
    }

    .div-descricao-topo {
        width: 95%;
        margin-top: 30px;
    }

    .segunda-descricao-sobre-mim {
        display: none;
    }

    .class-texto-top {
        font-family: 'Big Shoulders Display', cursive;
        font-size: 50px;
        color: black !important;
        align-items: center;
        line-height: 1;
        vertical-align: middle;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .divisor-sobre-mim {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        margin-top: 50px;
        width: 426px;
    }

    .margin-top-1 {
        margin-top: 1.5rem!important;
    }    

    .icone-redes-sociais {
        background-color: #000000;
        color: white;
        font-size: 30px;
        border-radius: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: 10px;
        transition: all 0.7s;
    }

    .height-633 {
        height: 100px;
    }

    .h1-escolaridade {
        font-weight: bold;
        font-size: 40px;
        font-family: 'Big Shoulders Display', cursive;
        margin-bottom: 50px;
        color: black !important;
        padding-top: 70px;
        margin-left: 15px;
    }

    .div-espacamento-escolaridade {
        margin-left: 15px;
    }

    .divisor-escolaridade {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -30px;
        margin-top: 45px;
        width: 423px;
    }
    
    .margin-left-50 {
        margin-left: 15px;
    }

    .titulo-hobbies {
        font-weight: bold;
        font-size: 40px;
        font-family: 'Big Shoulders Display', cursive;
        margin-bottom: 50px;
        color: black !important;
        padding-top: 100px;
    }

    #mySidenav a {
        position: absolute;
        left: -255px;
        transition: 0.3s;
        padding: 15px;
        width: 271px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        border-radius: 0 5px 5px 0;
        margin-top: 1580px;
    }

    .divisor-hobbies {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -30px;
        margin-top: 745px;
        width: 440px;
    }

    .divisor-habilidades {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        margin-top: 220px;
        width: 425px;
    }

    .primeira-descricao {
        width: 91%;
        margin-top: 50px;
        margin-bottom: 25px;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
    }

    .divisor-interesses {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        width: 425px;
        margin-top: 65px;
    }

    .height-100 {
        height: 100%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .height-80 {
        height: 80px;
    }

    .margin-top-25 {
        margin-top: 16px;
    }

    .background-color-menu-lateral {
        background-color: #48cae4;
        height: 120px;
    }

    .temanho-da-imagem-principal {
        display: none;
    }

    .alinhamento-do-link-principal {
        display: none;
    }

    .container {
        display: inline-block;
        cursor: pointer;
      }
      
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }

    .width-144 {
        width: 144px;
        background-color: #48cae4;
        height: 120px;
        margin-left: 625px;
    }

    .padding-top-35 {
        padding-top: 35px;
    }

    .conteudo-responsivo {
        padding-left: 25px;
        margin-top: 120px;
        background-color: #ffe6a7;
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        height: 260px;
        padding-top: 23px;
    }    

    .div-espacamento-responsivo {
        line-height: 45px;
        margin-top: -5px;
    }

    #conteudo_responsivo_dnone {
        display: none;
    }

    .espacamento-texto-top {
        margin-left: 25px;
        margin-top: 200px;
    }

    .class-texto-top {
        font-family: 'Big Shoulders Display', cursive;
        font-size: 53px;
        color: black !important;
        align-items: center;
        line-height: 1;
        vertical-align: middle;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .descricao-sobre-mim {
        font-size: 20px;
        color: black;
        font-family: 'Roboto', sans-serif;
        line-height: 28px;
    }

    .segunda-descricao-sobre-mim {
        font-size: 20px;
        color: black;
        font-family: 'Roboto', sans-serif;
        line-height: 28px;
    }

    .divisor-sobre-mim {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        margin-top: 200px;
        width: 768px;
    }

    .divisor-escolaridade {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -30px;
        margin-top: 149px;
        width: 768px;
    }

    .h1-escolaridade {
        font-weight: bold;
        font-size: 40px;
        font-family: 'Big Shoulders Display', cursive;
        margin-bottom: 50px;
        color: black !important;
        padding-top: 70px;
        margin-left: 25px;
    }

    .div-espacamento-escolaridade {
        margin-left: 25px;
    }

    .margin-left-50 {
        margin-left: 25px;
    }

    .titulo-hobbies {
        font-weight: bold;
        font-size: 40px;
        font-family: 'Big Shoulders Display', cursive;
        margin-bottom: 50px;
        color: black !important;
        padding-top: 100px;
    }

    #mySidenav a {
        position: absolute;
        left: -255px;
        transition: 0.3s;
        padding: 15px;
        width: 271px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        border-radius: 0 5px 5px 0;
        margin-top: 1650px;
    }

    .divisor-hobbies {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -30px;
        margin-top: 240px;
        width: 783px;
    }

    .divisor-habilidades {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        margin-top: 0px;
        width: 768px;
    }

    .divisor-interesses {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        width: 767px;
    }

    .primeira-descricao {
        width: 91%;
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
    }

}

@media (min-width: 769px) and (max-width: 992px) {
    
}

@media (min-width: 993px) and (max-width: 1200px) {
    .temanho-da-imagem-principal {
        border-radius: 100%;
        width: 122px;
        border: 3px solid #00509d;
    }

    .divisor-sobre-mim {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        margin-top: 35px;
        width: 853px;
    }

    .class-texto-top {
        font-family: 'Big Shoulders Display', cursive;
        font-size: 58px;
        color: black !important;
        align-items: center;
        line-height: 1;
        vertical-align: middle;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .margin-top-1 {
        margin-top: 1.5rem!important;
    }

    .alinhamento-do-link-principal {
        line-height: 45px;
        margin-top: 40px;
    }

    .color-link-lateral {
        text-decoration: none !important;
        line-height: 1.6;
        font-size: 1.13rem;
        font-weight: 600;
        font-family: "Roboto",sans-serif;
        color: #00509d;
        transition: all 0.7s;
    }

    .espacamenteo-imagem {
        margin-top: 125px;
        margin-left: 3px;
    }

    #conteudo_responsivo_dnone {
        display: none;
    }

    .divisor-escolaridade {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -30px;
        margin-top: 149px;
        width: 853px;
    }

    .titulo-hobbies {
        font-weight: bold;
        font-size: 40px;
        font-family: 'Big Shoulders Display', cursive;
        margin-bottom: 50px;
        color: black !important;
        margin-top: 35px;
    }

    .divisor-hobbies {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -30px;
        margin-top: 190px;
        width: 866px;
    }

    .divisor-habilidades {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        margin-top: 0px;
        width: 850px;
    }

    .primeira-descricao {
        width: 91%;
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
    }

    .divisor-interesses {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        width: 853px;
    }
}

@media (min-width: 1201px) {
    #conteudo_responsivo_dnone {
        display: none;
    }

    .divisor-escolaridade {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -30px;
        margin-top: 149px;
        width: 1123px;
    }

    .divisor-interesses {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        width: 1123px;
    }

    .height-100 {
        height: 100%;
    }
}