.height-633 {
    height: 633px;
}

.background-color-menu-lateral {
    background-color: #48cae4;
}

.espacamenteo-imagem {
    margin-top: 125px;
    margin-left: 10px;
}

.temanho-da-imagem-principal {
    border-radius: 100%;
    width: 175px;
    border: 3px solid #00509d;
}

.alinhamento-do-link-principal {
    line-height: 40px;
    margin-top: 25px;
}

.color-link-lateral {
    text-decoration: none !important;
    line-height: 1.6;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Roboto",sans-serif;
    color: #00509d;
    transition: all 0.7s;
}

.color-link-lateral:hover {
    color: white;
}

.espacamento-texto-top {
    margin-left: 50px;
    margin-top: 80px;
}

.class-texto-top {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 76px;
    color: black !important;
    align-items: center;
    line-height: 1;
    vertical-align: middle;
    margin-bottom: 1rem;
    font-weight: bold;
}

.color-blue-sobrenome {
    color: #0466c8;
}

.class-texto-endereco {
    font-size: 22px !important;
    font-family: 'Crimson Text', serif;
    color: gray !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.div-descricao-topo {
    width: 94%;
    margin-top: 30px;
}

.descricao-sobre-mim {
    font-size: 18px;
    color: black;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
}

.segunda-descricao-sobre-mim {
    font-size: 18px;
    color: black;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
}

.icone-redes-sociais {
    background-color: #000000;
    color: white;
    font-size: 35px;
    border-radius: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    transition: all 0.7s;
}

.icone-redes-sociais:hover {
    color: white;
    background-color: #0466c8;
}

.divisor-sobre-mim {
    background-color: #4ccae4;
    height: 2px;
    margin-left: -15px;
    margin-top: 88px;
    width: 1111px;
}

.div-espacamento-escolaridade {
    margin-left: 50px;
}

.h1-escolaridade {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Big Shoulders Display', cursive;
    margin-bottom: 50px;
    color: black !important;
    padding-top: 50px;
    margin-left: 50px;
}

.curso-mscode {
    text-transform: uppercase;
    color: #2a81ea;
    font-size: 1.125rem;
    letter-spacing: .1em;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}

.tag-p-escolaridade {
    width: 83%;
}

.height-100 {
    height: 100%;
}

.overflow-y {
    overflow-y: scroll;
    height: 633px;
}

.margin-top-20 {
    margin-top: 25px;
}

@media (max-width: 320px) {
    .temanho-da-imagem-principal {
        display: none;
    }

    .alinhamento-do-link-principal {
        display: none;
    }
    
    .container {
        display: inline-block;
        cursor: pointer;
      }
      
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }

    .menu-mobile {
        position: absolute;
        left: 255px;
        top: 35px;
    }

    #conteudo_responsivo_dnone {
        display: none;
    }

    .conteudo-responsivo {
        padding-left: 25px;
        margin-top: -511px;
        background-color: #ffe6a7;
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        height: 260px;
        padding-top: 23px;
    }

    .div-espacamento-responsivo {
        line-height: 45px;
        margin-top: -5px;
    }

    .espacamento-texto-top {
        margin-left: 15px;
    }

    .class-texto-endereco {
        font-size: 0.87em !important;
        font-family: 'Crimson Text', serif;
        color: gray !important;
    }

    .div-descricao-topo {
        width: 100%;
        margin-top: 30px;
    }

    .segunda-descricao-sobre-mim {
        display: none;
    }

    .class-texto-top {
        font-family: 'Big Shoulders Display', cursive;
        font-size: 41px;
        color: black !important;
        align-items: center;
        line-height: 1;
        vertical-align: middle;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .divisor-sobre-mim {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        margin-top: 350px;
        width: 320px;
    }

    .margin-top-1 {
        margin-top: 1.5rem!important;
    }    

    .icone-redes-sociais {
        background-color: #000000;
        color: white;
        font-size: 30px;
        border-radius: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: 10px;
        transition: all 0.7s;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .temanho-da-imagem-principal {
        display: none;
    }

    .alinhamento-do-link-principal {
        display: none;
    }
    
    .container {
        display: inline-block;
        cursor: pointer;
      }
      
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }

    .menu-mobile {
        position: absolute;
        left: 300px;
        top: 35px;
    }

    #conteudo_responsivo_dnone {
        display: none;
    }

    .conteudo-responsivo {
        padding-left: 25px;
        margin-top: -511px;
        background-color: #ffe6a7;
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        height: 260px;
        padding-top: 23px;
    }

    .div-espacamento-responsivo {
        line-height: 45px;
        margin-top: -5px;
    }

    .espacamento-texto-top {
        margin-left: 15px;
    }

    .class-texto-endereco {
        font-size: 0.87em !important;
        font-family: 'Crimson Text', serif;
        color: gray !important;
    }

    .div-descricao-topo {
        width: 95%;
        margin-top: 30px;
    }

    .segunda-descricao-sobre-mim {
        display: none;
    }

    .class-texto-top {
        font-family: 'Big Shoulders Display', cursive;
        font-size: 50px;
        color: black !important;
        align-items: center;
        line-height: 1;
        vertical-align: middle;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .divisor-sobre-mim {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        margin-top: 245px;
        width: 375px;
    }

    .margin-top-1 {
        margin-top: 1.5rem!important;
    }    

    .icone-redes-sociais {
        background-color: #000000;
        color: white;
        font-size: 30px;
        border-radius: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: 10px;
        transition: all 0.7s;
    }
}

@media (min-width:  376px) and (max-width: 576px) {
    .temanho-da-imagem-principal {
        display: none;
    }

    .alinhamento-do-link-principal {
        display: none;
    }
    
    .container {
        display: inline-block;
        cursor: pointer;
      }
      
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }

    .menu-mobile {
        position: absolute;
        left: 350px;
        top: 35px;
    }

    #conteudo_responsivo_dnone {
        display: none;
    }

    .conteudo-responsivo {
        padding-left: 25px;
        margin-top: -511px;
        background-color: #ffe6a7;
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        height: 260px;
        padding-top: 23px;
    }

    .div-espacamento-responsivo {
        line-height: 45px;
        margin-top: -5px;
    }

    .espacamento-texto-top {
        margin-left: 15px;
    }

    .class-texto-endereco {
        font-size: 15px !important;
        font-family: 'Crimson Text', serif;
        color: gray !important;
    }

    .div-descricao-topo {
        width: 95%;
        margin-top: 30px;
    }

    .segunda-descricao-sobre-mim {
        display: none;
    }

    .class-texto-top {
        font-family: 'Big Shoulders Display', cursive;
        font-size: 50px;
        color: black !important;
        align-items: center;
        line-height: 1;
        vertical-align: middle;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .divisor-sobre-mim {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        margin-top: 190px;
        width: 426px;
    }

    .margin-top-1 {
        margin-top: 1.5rem!important;
    }    

    .icone-redes-sociais {
        background-color: #000000;
        color: white;
        font-size: 30px;
        border-radius: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: 10px;
        transition: all 0.7s;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .height-80 {
        height: 80px;
    }

    .margin-top-25 {
        margin-top: 16px;
    }

    .background-color-menu-lateral {
        background-color: #48cae4;
        height: 120px;
    }

    .temanho-da-imagem-principal {
        display: none;
    }

    .alinhamento-do-link-principal {
        display: none;
    }

    .container {
        display: inline-block;
        cursor: pointer;
      }
      
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }

    .width-144 {
        width: 144px;
        background-color: #48cae4;
        height: 120px;
    }

    .padding-top-35 {
        padding-top: 35px;
    }

    .conteudo-responsivo {
        padding-left: 25px;
        margin-top: -511px;
        background-color: #ffe6a7;
        box-shadow: 0 .1rem 1rem rgba(0,0,0,.15)!important;
        height: 260px;
        padding-top: 23px;
    }

    .div-espacamento-responsivo {
        line-height: 45px;
        margin-top: -5px;
    }

    .espacamento-texto-top {
        margin-left: 50px;
        margin-top: 320px;
    }

    #conteudo_responsivo_dnone {
        display: none;
    }

    .espacamento-texto-top {
        margin-left: 25px;
        margin-top: 100px;
    }

    .class-texto-top {
        font-family: 'Big Shoulders Display', cursive;
        font-size: 53px;
        color: black !important;
        align-items: center;
        line-height: 1;
        vertical-align: middle;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .descricao-sobre-mim {
        font-size: 20px;
        color: black;
        font-family: 'Roboto', sans-serif;
        line-height: 28px;
    }

    .segunda-descricao-sobre-mim {
        font-size: 20px;
        color: black;
        font-family: 'Roboto', sans-serif;
        line-height: 28px;
    }

    .divisor-sobre-mim {
        background-color: #4ccae4;
        height: 2px;
        margin-left: -15px;
        margin-top: 200px;
        width: 768px;
    }

}

@media (min-width: 769px) and (max-width: 992px) {
    
}

@media (min-width: 993px) and (max-width: 1200px) {
    .temanho-da-imagem-principal {
        border-radius: 100%;
        width: 122px;
        border: 3px solid #00509d;
    }

    .divisor-sobre-mim {
        background-color: #4ccae4;
        height: 2px;
        margin-left: 156px;
        margin-top: -2px;
        width: 853px;
    }

    .class-texto-top {
        font-family: 'Big Shoulders Display', cursive;
        font-size: 58px;
        color: black !important;
        align-items: center;
        line-height: 1;
        vertical-align: middle;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .margin-top-1 {
        margin-top: 1.5rem!important;
    }

    .alinhamento-do-link-principal {
        line-height: 45px;
        margin-top: 40px;
    }

    .color-link-lateral {
        text-decoration: none !important;
        line-height: 1.6;
        font-size: 1.13rem;
        font-weight: 600;
        font-family: "Roboto",sans-serif;
        color: #00509d;
        transition: all 0.7s;
    }

    .espacamenteo-imagem {
        margin-top: 125px;
        margin-left: 3px;
    }

    #conteudo_responsivo_dnone {
        display: none;
    }

}

@media (min-width: 1201px) {
    #conteudo_responsivo_dnone {
        display: none;
    }
}